### Python Testing Environment

In [1]:
try:
    import pymysql
except:
    print("Missing pymysql import, installing now")
    %pip install pymysql
try:
    import pymongo
except:
    print("Missing pymongo import, installing now")
    %pip install pymongo
import pandas as pd
import json
print("Using PyMySQL version", pymysql.__version__)
print("Using PyMongo version", pymongo.__version__)

Using PyMySQL version 1.4.6
Using PyMongo version 4.10.1

In [4]:
endpoint = "localhost"
username = "root"
password = "MySQLDBP455"
passwordjacob = "Bobo8128!"
database_name = "chatdb"
port = 3306  # Default MySQL port

connection = pymysql.connect(
    host=endpoint,
    user=username,
    password=passwordjacob,
    database=database_name
)

try:
    with connection.cursor() as cursor:
        # Show all databases
        cursor.execute("SHOW DATABASES;")
        databases = cursor.fetchall()
        print("Databases:")
        for db in databases:
            print(db[0])
finally:
    connection.close()

Databases:
chatdb
information_schema
mysql
performance_schema
sys

In [106]:
connection = pymysql.connect(
    host=endpoint,
    user=username,
    password=password,
    database=database_name
)

cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
print('Table(s)', tables)
cursor.execute(f'select * from {tables[0][0]}')
for i in cursor.fetchall():
    print(i)
connection.close()

Table(s) (('students',),)
(1, 'John', 'Doe', 'john.doe@example.com', 'Computer Science', 3, 'Dr. Smith')
(2, 'Jane', 'Doe', 'jane.doe@example.com', 'Business', 2, 'Dr. Brown')
(3, 'Jim', 'Beam', 'jim.beam@example.com', 'Mathematics', 3, 'Dr. Smith')
(4, 'Alice', 'Johnson', 'alice.johnson@example.com', 'Computer Science', 4, 'Dr. White')
(5, 'John', 'Smith', 'john.smith@example.com', 'Business', 2, 'Dr. Brown')
(6, 'Bill', 'Chu', 'bill.chu@example.com', 'Mathematics', 3, 'Dr. Smith')
(7, 'David', 'Small', 'david.small@example.com', 'Computer Science', 3, 'Dr. Smith')

In [ ]:
sql_data = '../data/sql_data/students.csv'
table_name = sql_data.split('/')[-1][:-4]

sql_df = pd.read_csv(sql_data)
sql_df

,StudentID,FirstName,LastName,Email,Major,AdvisorID,AdvisorName
0,1,John,Doe,john.doe@example.com,Computer Science,3,Dr. Smith
1,2,Jane,Doe,jane.doe@example.com,Business,2,Dr. Brown
2,3,Jim,Beam,jim.beam@example.com,Mathematics,3,Dr. Smith
3,4,Alice,Johnson,alice.johnson@example.com,Computer Science,4,Dr. White
4,5,John,Smith,john.smith@example.com,Business,2,Dr. Brown
5,6,Bill,Chu,bill.chu@example.com,Mathematics,3,Dr. Smith
6,7,David,Small,david.small@example.com,Computer Science,3,Dr. Smith

In [52]:
cmd = f"INSERT INTO {table_name} ({sql_df.columns[0]}, {sql_df.columns[1]}, {sql_df.columns[2]}, {sql_df.columns[3]}, {sql_df.columns[4]}) VALUES ({row['CourseID']}, {row['CourseName']}, {row['InstructorID']}, {row['InstructorName']}, {row['CreditHours']});"
cmd

'INSERT INTO students (StudentID, FirstName, LastName, Email, Major) VALUES (101, Data Structures, 3, Dr. Smith, 3);'

In [58]:
row = sql_df.iloc[0, :]

In [94]:
column_names = ', '.join(sql_df.columns)  # Join column names as a string
placeholders = ', '.join(['%s'] * len(sql_df.columns))  # Placeholder for each column value

insert_query = f"INSERT INTO {table_name} ({column_names}) VALUES ({placeholders})"

insert_query

'INSERT INTO students (StudentID, FirstName, LastName, Email, Major, AdvisorID, AdvisorName) VALUES (%s, %s, %s, %s, %s, %s, %s)'

In [91]:
for col in sql_df.columns:
    if len(sql_df[col].unique()) == sql_df.shape[0]:
        print(col)

StudentID
Email

In [69]:
def python_to_sql_type(dtype):
    """Map pandas data types to SQL data types."""
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_object_dtype(dtype):
        return 'VARCHAR(255)'  # For string columns
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'VARCHAR(255)'  # Default fallback type

In [92]:
create_query = f'CREATE TABLE IF NOT EXISTS {table_name} ('

pk_exists = False

for col in sql_df.columns:
    dtype = python_to_sql_type(sql_df[col])

    if col == sql_df.columns[-1]:
        create_query = create_query + f'{col} {dtype});'
    elif len(sql_df[col].unique()) == sql_df.shape[0] and not pk_exists:
        create_query = create_query + f'{col} {dtype} PRIMARY KEY, '
        pk_exists = True
    else:
        create_query = create_query + f'{col} {dtype}, '

create_query

'CREATE TABLE IF NOT EXISTS students (StudentID INT PRIMARY KEY, FirstName VARCHAR(255), LastName VARCHAR(255), Email VARCHAR(255), Major VARCHAR(255), AdvisorID INT, AdvisorName VARCHAR(255));'

In [87]:
sql_data = '../data/sql_data/students.csv'
table_name = sql_data.split('/')[-1][:-4]

sql_df = pd.read_csv(sql_data)

connection = pymysql.connect(
    host=endpoint,
    user=username,
    password=password,
    database=database_name
)

try:
    with connection.cursor() as cursor:
        # Ensure the table exists

        create_query = f'CREATE TABLE IF NOT EXISTS {table_name} ('

        for col in sql_df.columns:
            dtype = python_to_sql_type(sql_df[col])

            if col == sql_df.columns[-1]:
                create_query = create_query + f'{col} {dtype});'
            elif col == sql_df.columns[0]:
                create_query = create_query + f'{col} {dtype} PRIMARY KEY, '
            else:
                create_query = create_query + f'{col} {dtype}, '

        print(create_query)

        cursor.execute(create_query)

        column_names = ', '.join(sql_df.columns)  # Join column names as a string
        placeholders = ', '.join(['%s'] * len(sql_df.columns))  # Placeholder for each column value
        
        insert_query = f"INSERT INTO {table_name} ({column_names}) VALUES ({placeholders})"
        
        # Loop over each row in the DataFrame and execute the query
        for _, row in sql_df.iterrows():
            values = tuple(row)  # Convert the row to a tuple
            print(insert_query, values)  # Debug: print query and values
            cursor.execute(insert_query, values)  # Execute query with values

        connection.commit()
except pymysql.IntegrityError as e:
    print(f"Integrity Error: {e}")
finally:
    connection.close()

CREATE TABLE IF NOT EXISTS students (StudentID INT PRIMARY KEY, FirstName VARCHAR(255), LastName VARCHAR(255), Email VARCHAR(255), Major VARCHAR(255), AdvisorID INT, AdvisorName VARCHAR(255));
INSERT INTO students (StudentID, FirstName, LastName, Email, Major, AdvisorID, AdvisorName) VALUES (%s, %s, %s, %s, %s, %s, %s) (1, 'John', 'Doe', 'john.doe@example.com', 'Computer Science', 3, 'Dr. Smith')
Integrity Error: (1062, "Duplicate entry '1' for key 'students.PRIMARY'")

In [24]:

mongo_username = 'mdmolnar'
mongo_password = 'AtM0nG0d1452'
# mongo_username = 'jacobgra'
# mongo_password = 'AtM0nG0d145'


connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.tgu2d.mongodb.net/'

client = pymongo.MongoClient(connection_string)

# Access a database
db = client["ChatDB"]
collection0 = db["Collection0"]
# collection1 = db["Collection1"]

# Test connection by listing collections
print(db.list_collection_names())

['Collection0']

In [ ]:
path_to_json = '../data/orders_json/products.json'
# upload '../gyg' to collection1
 
with open(path_to_json) as file:
    file_data = json.load(file)

# If the JSON data is an array of documents, use insert_many
if isinstance(file_data, list):
    collection0.insert_many(file_data)
else:
    collection0.insert_one(file_data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: ChatDB.Collection0 index: _id_ dup key: { _id: "605c72d4bcf86cd799439022" }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': '605c72d4bcf86cd799439022'}, 'op': {'_id': '605c72d4bcf86cd799439022', 'name': 'Wireless Headphones', 'description': 'Bluetooth wireless headphones with noise cancellation.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 99.99, 'stock': 100, 'brand': 'BrandX', 'createdAt': {'$date': '2023-10-01T10:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439011'}, 'rating': 4}, {'userId': {'$oid': '605c72d4bcf86cd799439012'}, 'rating': 5}]}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [4]:
for i in collection0.find():
    print(i)

{'_id': '605c72d4bcf86cd799439026', 'name': 'Tablet', 'description': '10-inch tablet with high-resolution display and long battery life.', 'category': {'$oid': '605c72d4bcf86cd799439034'}, 'price': 499.99, 'stock': 80, 'brand': 'BrandB', 'createdAt': {'$date': '2023-09-30T15:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439016'}, 'rating': 5}]}
{'_id': '605c72d4bcf86cd799439024', 'name': 'Smartwatch', 'description': 'Fitness and activity tracker with heart rate monitoring.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 199.99, 'stock': 150, 'brand': 'BrandZ', 'createdAt': {'$date': '2023-10-04T11:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439013'}, 'rating': 4}]}
{'_id': '605c72d4bcf86cd799439022', 'name': 'Wireless Headphones', 'description': 'Bluetooth wireless headphones with noise cancellation.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 99.99, 'stock': 100, 'brand': 'BrandX', 'createdAt': {'$date': '2023-10-01T10:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439011'}, 'rating': 4}, {'userId': {'$oid': '605c72d4bcf86cd799439012'}, 'rating': 5}]}
{'_id': '605c72d4bcf86cd799439025', 'name': 'Laptop', 'description': 'High-performance laptop for gaming and work.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 1299.99, 'stock': 30, 'brand': 'BrandA', 'createdAt': {'$date': '2023-09-25T09:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439014'}, 'rating': 5}, {'userId': {'$oid': '605c72d4bcf86cd799439015'}, 'rating': 4}]}
{'_id': '605c72d4bcf86cd799439023', 'name': 'Smartphone', 'description': 'Latest model with advanced features.', 'category': {'$oid': '605c72d4bcf86cd799439034'}, 'price': 799.99, 'stock': 50, 'brand': 'BrandY', 'createdAt': {'$date': '2023-10-03T14:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439012'}, 'rating': 5}]}
{'_id': '605c72d4bcf86cd799439028', 'name': '4K TV', 'description': '65-inch 4K Ultra HD TV with HDR support.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 999.99, 'stock': 20, 'brand': 'BrandD', 'createdAt': {'$date': '2023-09-15T18:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439018'}, 'rating': 5}]}
{'_id': '605c72d4bcf86cd799439029', 'name': 'Digital Camera', 'description': '24.2MP digital camera with 4K video recording capabilities.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 699.99, 'stock': 60, 'brand': 'BrandE', 'createdAt': {'$date': '2023-09-18T13:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439019'}, 'rating': 4}]}
{'_id': '605c72d4bcf86cd799439027', 'name': 'Bluetooth Speaker', 'description': 'Portable Bluetooth speaker with 360-degree sound.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 49.99, 'stock': 200, 'brand': 'BrandC', 'createdAt': {'$date': '2023-09-20T12:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439011'}, 'rating': 3}, {'userId': {'$oid': '605c72d4bcf86cd799439017'}, 'rating': 4}]}
{'_id': '605c72d4bcf86cd799439030', 'name': 'Wireless Charger', 'description': 'Fast wireless charger for smartphones and accessories.', 'category': {'$oid': '605c72d4bcf86cd799439034'}, 'price': 29.99, 'stock': 500, 'brand': 'BrandF', 'createdAt': {'$date': '2023-09-12T10:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439020'}, 'rating': 4}]}
{'_id': '605c72d4bcf86cd799439031', 'name': 'Gaming Console', 'description': 'Next-gen gaming console with 1TB storage.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 499.99, 'stock': 40, 'brand': 'BrandG', 'createdAt': {'$date': '2023-08-15T11:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439011'}, 'rating': 5}, {'userId': {'$oid': '605c72d4bcf86cd799439013'}, 'rating': 4}]}

In [ ]:
user_input = "Upload this data '../data/sql_data/students.csv'"

for i in user_input.split():
    if '/' in i or '\\' in i:
        file_path = i

file_path

'../data/sql_data/students.csv'