In [11]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from collections import Counter
import numpy as np

In [ ]:
# nltk.download('punkt')
# nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mmoln\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mmoln\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [52]:
QUERY_PATTERNS = {
    "EXAMPLE": ["example", "examples"],
    "UPLOAD": ["upload", "add"],
    "SELECT": ["select", "columns", "fields", "retrieve", "get", "show"],
    "AGGREGATE": ['many', 'sum', 'average', 'mean', 'count'],
    "GROUP BY": ["group by", "aggregate", "group", 'grouping', 'each', 'total'],
    "HAVING": ["having", "condition", "filter", 'over', 'under', 'less', 'greater'],
    "ORDER BY": ["order by", "sort", "ascending", "descending"],
    "WHERE": ["where", "condition", "filter", 'over', 'under', 'less', 'greater', 'who'],
    "JOIN": ["join", "merge", "combine", "foreign key", "on"]
}

QUERY_PATTERNS = {
    "EXAMPLE": ["example", "examples", "sample", "instance", "demo", "case"],
    "UPLOAD": ["upload", "add", "insert", "import", "save", "load", "store"],
    "SELECT": ["select", "columns", "fields", "retrieve", "get", "show", "fetch", "extract",
               "display", "list", "view", "pick", "choose", "read", "query"],
    "AGGREGATE": ["many", "sum", "average", "mean", "count", "total", "maximum", "minimum",
                  "min", "max", "avg", "median", "aggregate", "statistics", "metrics"],
    "GROUP BY": ["group by", "aggregate", "group", "grouping", "each", "total", "categorize",
                 "partition", "classify", "segment", "cluster", "bucket"],
    "HAVING": ["having", "condition", "filter", "over", "under", "less", "greater", "limit", 'more',
               "range", "restrict", "criteria", "threshold", "constraint", "above", "below"],
    "ORDER BY": ["order by", "sort", "ascending", "descending", "rank", "arrange", "prioritize",
                 "sequence", "order", "hierarchy", "top", "bottom", "sorted"],
    "WHERE": ["where", "condition", "filter", "over", "under", "less", "greater", "who",
              "which", "that", "criteria", "subset", "find", "limit", "restrict", "search",
              "match", "query", "constraint"],
    "JOIN": ["join", "merge", "combine", "foreign key", "on", "unite", "relate", "link",
             "connect", "associate", "bridge", "union", "inner", "outer", "left", "right"]
}



example_inputs = [
    "Show me all the records in the employees table",  # Select
    "Upload this data '../data/sql_data/students.csv'",  # upload
    "Show me examples of sql queries",  # example
    "Show me examples of sql queries using group by",  # example group by
    "Get the details of employees who work in the Sales department",  # Where
    "How many employees are there in the company",  # Select count(*)
    "Show me the names and salaries of employees earning more than $50000",  # Where
    "List all employees, sorted by their hire date in descending order",  # Order by
    "Find the average salary of employees in the Engineering department",  # Select Avg() where
    "How many employees are there in each department",  # Group by
    "Show me the departments where the total salaries of employees exceed $100000",  # Having
    "List the products where the average price is less than $50"  # Having
]

In [31]:
def match_query_pattern(user_input):

    tokens = word_tokenize(user_input.lower())
    tokens = [token for token in tokens if token.isalnum()]  # Remove punctuation
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token not in stop_words]
    
    # Match tokens to query patterns
    token_counts = Counter(filtered_tokens)
    types = []
    for query_type, keywords in QUERY_PATTERNS.items():
        for keyword in keywords:
            if keyword in user_input.lower() or any(k in filtered_tokens for k in keyword.split()):
                if query_type not in types:
                    types.append(query_type)
            
    for word in filtered_tokens:
        if word in QUERY_PATTERNS.items():
            pass

    for query_type, keywords in QUERY_PATTERNS.items():
        pass

    return types

query = "Show me the total sales grouped by region with a condition on sales."

match_query_pattern(query)

['SELECT', 'GROUP BY', 'HAVING', 'WHERE', 'JOIN']

In [26]:
for query_type, keywords in QUERY_PATTERNS.items():
    for word in filtered_tokens:
        if word in keywords:
            print(query_type)
            print(filtered_tokens)

GROUP BY
['find', 'average', 'salary', 'employees', 'department']

In [53]:
for i in example_inputs:
    tokens = word_tokenize(i.lower())
    tokens = [token for token in tokens if token.isalnum()]  # Remove punctuation
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token not in stop_words]

    print(tokens)
    print(filtered_tokens)
    print(match_query_pattern(i))

['show', 'me', 'all', 'the', 'records', 'in', 'the', 'employees', 'table']
['show', 'records', 'employees', 'table']
['SELECT']
['upload', 'this', 'data']
['upload', 'data']
['UPLOAD']
['show', 'me', 'examples', 'of', 'sql', 'queries']
['show', 'examples', 'sql', 'queries']
['EXAMPLE', 'SELECT']
['show', 'me', 'examples', 'of', 'sql', 'queries', 'using', 'group', 'by']
['show', 'examples', 'sql', 'queries', 'using', 'group']
['EXAMPLE', 'SELECT', 'GROUP BY']
['get', 'the', 'details', 'of', 'employees', 'who', 'work', 'in', 'the', 'sales', 'department']
['get', 'details', 'employees', 'work', 'sales', 'department']
['SELECT', 'WHERE']
['how', 'many', 'employees', 'are', 'there', 'in', 'the', 'company']
['many', 'employees', 'company']
['AGGREGATE']
['show', 'me', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'earning', 'more', 'than', '50000']
['show', 'names', 'salaries', 'employees', 'earning', '50000']
['SELECT', 'HAVING']
['list', 'all', 'employees', 'sorted', 'by', 'their', 'hire', 'date', 'in', 'descending', 'order']
['list', 'employees', 'sorted', 'hire', 'date', 'descending', 'order']
['SELECT', 'ORDER BY']
['find', 'the', 'average', 'salary', 'of', 'employees', 'in', 'the', 'engineering', 'department']
['find', 'average', 'salary', 'employees', 'engineering', 'department']
['AGGREGATE', 'WHERE']
['how', 'many', 'employees', 'are', 'there', 'in', 'each', 'department']
['many', 'employees', 'department']
['AGGREGATE', 'GROUP BY']
['show', 'me', 'the', 'departments', 'where', 'the', 'total', 'salaries', 'of', 'employees', 'exceed', '100000']
['show', 'departments', 'total', 'salaries', 'employees', 'exceed', '100000']
['SELECT', 'AGGREGATE', 'GROUP BY', 'WHERE']
['list', 'the', 'products', 'where', 'the', 'average', 'price', 'is', 'less', 'than', '50']
['list', 'products', 'average', 'price', 'less', '50']
['SELECT', 'AGGREGATE', 'HAVING', 'WHERE']

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\mmoln\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True