In [8]:
import pymongo
import pymysql
import re
from input_process import match_query_pattern

In [ ]:


def gen_sql_query(user_input, keywords, login_info):
    query = ''



    return response

In [17]:
example_queries = {
    (0, "SELECT"): "Show me all the records in the course table",  # Select
    (1, "UPLOAD"): "Upload this data '../data/sql_data/students.csv'",  # Upload
    (2, "EXAMPLE", "SELECT", "SQL"): "Show me examples of sql queries",  # Example
    (3, "EXAMPLE", "SELECT", "GROUP BY", "SQL"): "Show me examples of sql queries using group by",  # Example group by
    (4, "SELECT", "WHERE"): "Get the details of employees who work in the Sales department",  # Where
    (5, "SELECT", "COUNT"): "How many employees are there in the company",  # Select count(*)
    (6, "SELECT", "WHERE"): "Show me the names and salaries of employees earning more than $50000",  # Where
    (7, "SELECT", "ORDER BY"): "List all employees, sorted by their hire date in descending order",  # Order by
    (8, "AGGREGATE", "WHERE"): "Find the average salary of employees in the Engineering department",  # Select Avg() where
    (9, "SELECT", "GROUP BY"): "How many employees are there in each department",  # Group by
    (10, "SELECT", "HAVING"): "Show me the departments where the total salaries of employees exceed $100000",  # Having
    (11, "SELECT", "HAVING"): "List the products where the average price is less than $50",  # Having
    (12, "SELECT", "ORDER BY", "LIMIT"): "What are the top 10 highest paid employees",  # Order by limit
    (13, "SELECT", "HAVING"): "Which customers have placed more than 5 orders",  # Having
    (14, "SELECT", "GROUP BY"): "Find the total revenue generated by each product category",  # Group by
    (15, "SELECT", "WHERE", "ORDER BY"): "List all orders placed in the last 30 days, sorted by order date",  # Where Order by
    (16, "SELECT", "JOIN"): "Join the employees table with the departments table to find department names",  # Join
    (17, "SELECT", "JOIN"): "List all customers and their orders",  # Join
    (18, "SELECT", "GROUP BY"): "How many products are in stock for each supplier",  # Group by
    (19, "SELECT", "WHERE"): "Show me the products where the stock quantity is less than 10",  # Where
    (20, "UPLOAD"): "Upload the file '../data/new_products.json' into the database",  # Upload
    (21, "GROUP BY", "AGGREGATE"): "Find the maximum salary in each department",  # Group by Max()
    (22, "SELECT", "GROUP BY"): "List employees grouped by their job titles",  # Group by
    (23, "SELECT", "WHERE"): "Show me all orders where the total exceeds $1000",  # Where
    (24, "SELECT", "ORDER BY"): "List all customers sorted by their last purchase date",  # Order by
    (25, "EXAMPLE", "SELECT", "SQL"): "Show me examples of sql queries for finding duplicates",  # Example
    (26, "AGGREGATE", "WHERE"): "How many employees were hired in the last year",  # Where Count()
    (27, "GROUP BY", "AGGREGATE"): "Find the minimum price of products in each category",  # Group by Min()
    (28, "SELECT", "JOIN"): "Join the orders table with the customers table to get customer details",  # Join
    (29, "SELECT", "WHERE"): "List all records in the products table where price is greater than $20",  # Where
    (30, "SELECT", "ORDER BY", "LIMIT"): "Show me the names of employees earning the top 5 highest salaries",  # Order by limit
    (31, "GROUP BY", "AGGREGATE"): "Find the sum of sales for each region",  # Group by Sum()
    (32, "SELECT", "ORDER BY"): "List all products sorted by their price in ascending order",  # Order by
    (33, "SELECT", "EXAMPLE", "MONGODB"): "Give me examples of nosql queries.",  # Order by
}

In [18]:
user_input = example_queries[(0, "SELECT")]
print(user_input)
keywords = match_query_pattern(user_input)
keywords

Show me all the records in the course table

['SELECT', 'WHERE']

In [19]:
tables = re.findall(r'from\s+(\w+)', user_input, re.IGNORECASE)
print(tables)
columns = re.findall(r'select\s+(.+?)\s+from', user_input, re.IGNORECASE)
print(columns)
columns = columns[0].split(",") if columns else ["*"]
print(columns)

[]
[]
['*']

In [20]:
login_info = {
    'endpoint': "localhost",
    'username': "root",
    'password': "MySQLDBP455",
    'database_name': "chatdb",
    'mongo_username': 'mdmolnar',
    'mongo_password': 'AtM0nG0d1452'
}

endpoint = login_info['endpoint']
username = login_info['username']
password = login_info['password']
database_name = login_info['database_name']

connection = pymysql.connect(
    host=endpoint,
    user=username,
    password=password,
    database=database_name
)

cursor = connection.cursor()
cursor.execute("show tables;")
sql_tables = cursor.fetchall()
tables = []
for i in sql_tables:
    tables.append(i[0])
print(tables)
'course' in tables

['advisedby', 'course', 'courses', 'students']

True

In [ ]:
# Show ten rows command

def show_table(n_rows, login_info):

    return