In [26]:
import pymongo
import pymysql
import pandas as pd
from examples import get_mysql_metadata
import re
from input_process import match_query_pattern

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [2]:
example_queries = {
    (0, "SELECT"): "Show me all the records in the course table",  # Select
    (1, "UPLOAD"): "Upload this data '../data/sql_data/students.csv'",  # Upload
    (2, "EXAMPLE", "SELECT", "SQL"): "Show me examples of sql queries",  # Example
    (3, "EXAMPLE", "SELECT", "GROUP BY", "SQL"): "Show me examples of sql queries using group by",  # Example group by
    (4, "SELECT", "WHERE"): "Get the details of employees who work in the Sales department",  # Where
    (5, "SELECT", "COUNT"): "How many employees are there in the company",  # Select count(*)
    (6, "SELECT", "WHERE"): "Show me the names and salaries of employees earning more than $50000",  # Where
    (7, "SELECT", "ORDER BY"): "List all employees, sorted by their hire date in descending order",  # Order by
    (8, "AGGREGATE", "WHERE"): "Find the average salary of employees in the Engineering department",  # Select Avg() where
    (9, "SELECT", "GROUP BY"): "How many employees are there in each department",  # Group by
    (10, "SELECT", "HAVING"): "Show me the departments where the total salaries of employees exceed $100000",  # Having
    (11, "SELECT", "HAVING"): "List the products where the average price is less than $50",  # Having
    (12, "SELECT", "ORDER BY", "LIMIT"): "What are the top 10 highest paid employees",  # Order by limit
    (13, "SELECT", "HAVING"): "Which customers have placed more than 5 orders",  # Having
    (14, "SELECT", "GROUP BY"): "Find the total revenue generated by each product category",  # Group by
    (15, "SELECT", "WHERE", "ORDER BY"): "List all orders placed in the last 30 days, sorted by order date",  # Where Order by
    (16, "SELECT", "JOIN"): "Join the employees table with the departments table to find department names",  # Join
    (17, "SELECT", "JOIN"): "List all customers and their orders",  # Join
    (18, "SELECT", "GROUP BY"): "How many products are in stock for each supplier",  # Group by
    (19, "SELECT", "WHERE"): "Show me the products where the stock quantity is less than 10",  # Where
    (20, "UPLOAD"): "Upload the file '../data/new_products.json' into the database",  # Upload
    (21, "GROUP BY", "AGGREGATE"): "Find the maximum salary in each department",  # Group by Max()
    (22, "SELECT", "GROUP BY"): "List employees grouped by their job titles",  # Group by
    (23, "SELECT", "WHERE"): "Show me all orders where the total exceeds $1000",  # Where
    (24, "SELECT", "ORDER BY"): "List all customers sorted by their last purchase date",  # Order by
    (25, "EXAMPLE", "SELECT", "SQL"): "Show me examples of sql queries for finding duplicates",  # Example
    (26, "AGGREGATE", "WHERE"): "How many employees were hired in the last year",  # Where Count()
    (27, "GROUP BY", "AGGREGATE"): "Find the minimum price of products in each category",  # Group by Min()
    (28, "SELECT", "JOIN"): "Join the orders table with the customers table to get customer details",  # Join
    (29, "SELECT", "WHERE"): "List all records in the products table where price is greater than $20",  # Where
    (30, "SELECT", "ORDER BY", "LIMIT"): "Show me the names of employees earning the top 5 highest salaries",  # Order by limit
    (31, "GROUP BY", "AGGREGATE"): "Find the sum of sales for each region",  # Group by Sum()
    (32, "SELECT", "ORDER BY"): "List all products sorted by their price in ascending order",  # Order by
    (33, "SELECT", "EXAMPLE", "MONGODB"): "Give me examples of nosql queries.",  # Order by
}

In [17]:
user_input = example_queries[(0, "SELECT")]
user_input = 'Show me all the records from CourseID, CourseName in the courses table'
print(user_input)
keywords = match_query_pattern(user_input)
keywords

Show me all the records from CourseID, CourseName in the courses table

['SELECT']

In [ ]:
login_info = {
    'endpoint': "localhost",
    'username': "root",
    'password': "MySQLDBP455",
    'database_name': "chatdb",
    'mongo_username': 'mdmolnar',
    'mongo_password': 'AtM0nG0d1452'
}

mdata = get_mysql_metadata(login_info)

tables = [table for table in mdata.keys()]

assoc_tables = []

for word in user_input.split():
    if word in tables:
        assoc_tables.append(word)

assoc_cols = []
for i in range(len(assoc_tables)):
    for word in user_input.split():
        if word in mdata[assoc_tables[i]]:
            assoc_cols.append(word)

if len(assoc_cols) == 0:
    assoc_cols.append('*')

In [ ]:
aggregate_words = {
    'MIN': ['minimum', 'smallest', 'lowest', 'least'],
    'MAX': ['maximum', 'largest', 'highest', 'greatest'],
    'AVG': ['average', 'mean'],
    'COUNT': ['count', 'number', 'total', 'many'],
    'SUM': ['sum', 'total', 'add', 'combined']
}


def execute_sql_query(user_input, keywords, login_info):

    mdata = get_mysql_metadata(login_info)

    tables = [table for table in mdata.keys()]

    assoc_tables = []

    for word in user_input.split():
        if word in tables:
            assoc_tables.append(word)

    assoc_cols = []
    for i in range(len(assoc_tables)):
        for word in user_input.split():
            word = word.strip(',')
            if word in mdata[assoc_tables[i]]:
                assoc_cols.append(word)
    print(assoc_cols)

    if len(assoc_cols) == 0:
        assoc_cols.append('*')

    query = ''

    for keyword in keywords:

        if keyword == 'SELECT':
            query += 'SELECT ' + ', '.join(assoc_cols) + ' '
        
        elif keyword == 'AGGREGATE':
            pass
        
        query += 'FROM ' + ', '.join(assoc_tables)

        if keyword == 'GROUP BY':
            pass
        
        elif keyword == 'HAVING':
            pass
        
        elif keyword == 'ORDER BY':
            pass
        
        elif keyword == 'WHERE':
            less_than = False
            greater_than = False
            equal_to = False
        
        elif keyword == 'JOIN':
            pass
        
        elif keyword == 'LIMIT':
            pass
        
    print(query)
    return

execute_sql_query(user_input, keywords, login_info)

['CourseID', 'CourseName']
SELECT CourseID, CourseName FROM courses

In [24]:
# Show ten rows command for sql

def show_table(n_rows, table, login_info):
    try:
        # Establish a database connection
        connection = pymysql.connect(
            host=login_info['endpoint'],
            user=login_info['username'],
            password=login_info['password'],
            db=login_info['database_name']
        )
        cursor = connection.cursor()

        # Construct the SQL query
        query = f"SELECT * FROM {table} LIMIT {n_rows};"

        # Execute the query
        cursor.execute(query)
        rows = cursor.fetchall()
        column_names = [desc[0] for desc in cursor.description]

        # Display the data
        if rows:
            print(f"\nShowing {len(rows)} rows from table \'{table}\':\n")

            # Attempt to use pandas for a pretty table display
            try:
                df = pd.DataFrame(rows, columns=column_names)
                print(df)
            except ImportError:
                # Fallback to line-by-line print
                print(f"{' | '.join(column_names)}")
                print("-" * 80)
                for row in rows:
                    print(" | ".join(map(str, row)))
        else:
            print(f"No data found in table `{table}`.")
        
        connection.close()

    except pymysql.Error as e:
        print(f"An error occurred: {e}")
        return 
    
    return

show_table(5, 'courses', login_info)

Showing 5 rows from table 'courses':

   CourseID                CourseName  InstructorID InstructorName  \
0       101           Data Structures             2      Dr. Brown
1       102                  Calculus             3      Dr. Smith
2       103          Database Systems             2      Dr. Brown
3       104            Linear Algebra             3      Dr. Smith
4       105  Introduction to Business             4      Dr. White

   CreditHours
0            3
1            4
2            3
3            3
4            3

In [19]:
## Getting table name from sql file
file_path = '../data/UW_SQL_DATA/UW_std_advisedBy.sql'

with open(file_path, 'r') as sql_file:
    sql_commands = sql_file.read()

# Split SQL commands by semicolon
for command in sql_commands.split(';'):
    command = command.strip()
    if 'CREATE TABLE' in command:
        table_name = command.split()[2].strip('`')
        print(table_name)

advisedBy

In [20]:
## Show n rows for mongodb

import pymongo
import pandas as pd
pd.set_option('display.max_columns', None)

def show_collection(n_docs, collection_name, login_info):

    try:

        mongo_username = login_info['mongo_username']
        mongo_password = login_info['mongo_password']

        connection_string = f'mongodb+srv://{mongo_username}:{mongo_password}@cluster0.tgu2d.mongodb.net/'

        # Establish a MongoDB connection
        client = pymongo.MongoClient(connection_string)
        db = client['ChatDB']
        collection = db[collection_name]

        # Fetch the documents
        documents = list(collection.find().limit(n_docs))

        # Display the documents
        if documents:
            print(f"\nShowing {len(documents)} documents from collection `{collection_name}`:")

            for i, doc in enumerate(documents, start=1):
                print(f"{i}: {doc}")
        else:
            print(f"No documents found in collection `{collection_name}`.")

        # Close the connection
        client.close()

    except Exception as e:
        print(f"An error occurred: {e}")

show_collection(5, 'products', login_info)

Showing 5 documents from collection `products`:
1: {'_id': '605c72d4bcf86cd799439022', 'name': 'Wireless Headphones', 'description': 'Bluetooth wireless headphones with noise cancellation.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 99.99, 'stock': 100, 'brand': 'BrandX', 'createdAt': {'$date': '2023-10-01T10:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439011'}, 'rating': 4}, {'userId': {'$oid': '605c72d4bcf86cd799439012'}, 'rating': 5}]}
2: {'_id': '605c72d4bcf86cd799439023', 'name': 'Smartphone', 'description': 'Latest model with advanced features.', 'category': {'$oid': '605c72d4bcf86cd799439034'}, 'price': 799.99, 'stock': 50, 'brand': 'BrandY', 'createdAt': {'$date': '2023-10-03T14:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439012'}, 'rating': 5}]}
3: {'_id': '605c72d4bcf86cd799439024', 'name': 'Smartwatch', 'description': 'Fitness and activity tracker with heart rate monitoring.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 199.99, 'stock': 150, 'brand': 'BrandZ', 'createdAt': {'$date': '2023-10-04T11:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439013'}, 'rating': 4}]}
4: {'_id': '605c72d4bcf86cd799439025', 'name': 'Laptop', 'description': 'High-performance laptop for gaming and work.', 'category': {'$oid': '605c72d4bcf86cd799439033'}, 'price': 1299.99, 'stock': 30, 'brand': 'BrandA', 'createdAt': {'$date': '2023-09-25T09:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439014'}, 'rating': 5}, {'userId': {'$oid': '605c72d4bcf86cd799439015'}, 'rating': 4}]}
5: {'_id': '605c72d4bcf86cd799439026', 'name': 'Tablet', 'description': '10-inch tablet with high-resolution display and long battery life.', 'category': {'$oid': '605c72d4bcf86cd799439034'}, 'price': 499.99, 'stock': 80, 'brand': 'BrandB', 'createdAt': {'$date': '2023-09-30T15:00:00Z'}, 'ratings': [{'userId': {'$oid': '605c72d4bcf86cd799439016'}, 'rating': 5}]}